/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
// end of reset

button {
  border: 0;
  background: none;
}

body {
  --main-yellow: #fac900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(circle, rgb(69 162 180) 0%, rgb(86 82 145) 100%);
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}
