.root {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.board {
  flex: 1;
  display: grid;
  max-width: 500px;
  position: relative;

  // Isometric view
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) scale(0.67)
    translate(20%, -20%);
}

.room {
  // default room color
  color: #f4f4f4;
  aspect-ratio: 1;
  position: relative;
  background: currentColor;
  margin: 1px;
  transition: all 0.6s;

  // Dark edge for 3d effect, bottom left
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    aspect-ratio: 1;
    width: 10%;
    background: currentColor;
    height: 110%;
    top: 0px;
    left: -10%;
    clip-path: polygon(0% 9%, 100% 0, 100% 91%, 0% 100%);
    filter: brightness(65%);
  }

  // Dark edge for 3d effect, bottom right
  &::after {
    content: "";
    display: block;
    position: absolute;
    aspect-ratio: 1;
    background: currentColor;
    width: 110%;
    height: 10%;
    top: 100%;
    left: -10%;
    clip-path: polygon(9% 0%, 100% 0, 91% 100%, 0% 100%);
    filter: brightness(75%);
  }
}

.roomOwned .wall {
  cursor: default;
}

// Lower owned rooms
.roomOwned {
  transform: translate(-7%, 7%);
}

// Lift room when hovering
// Disable for now

// .room:not(.roomOwned):hover {
// z-index: 1;
// transform: translate(7%, -7%);
// filter: brightness(1.2);
// }

.wall {
  --wall-width: 10%;

  // The wall element is a hit area (button)
  cursor: pointer;
  position: absolute;
  color: inherit;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;

  &:focus {
    // Hide the hit area for mobile devices
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  // The dark border to indicate a wall is actually set in the before element
  &::before {
    content: "";
    display: block;
    top: 0;
    right: 0%;
    position: absolute;
    background: currentColor;
    filter: brightness(0.5);
    opacity: 0;
    transition: all 0.2s;
  }
}

.wallTop {
  // The button of a wall is a triangular shape, to make the hit area bigger
  clip-path: polygon(0% 0%, 100% 0, 50% 50%);

  &::before {
    width: 100%;
    height: var(--wall-width);
  }
}

.wallRight {
  clip-path: polygon(50% 50%, 100% 0%, 100% 100%);

  &::before {
    width: var(--wall-width);
    height: 100%;
  }
}

.wallBottom {
  clip-path: polygon(50% 50%, 100% 100%, 0% 100%);
  z-index: 1;

  &::before {
    width: 100%;
    height: var(--wall-width);
    top: 90%;
  }
}

.wallLeft {
  clip-path: polygon(0% 0%, 50% 50%, 0% 100%);

  &::before {
    width: var(--wall-width);
    height: 100%;
    top: 0;
    left: 0px;
  }
}

// Show active wall
.room:not(.roomOwned) .wallActive:before {
  opacity: 1;
}

.shadow {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  filter: blur(16px);
  z-index: -5;
  bottom: -10%;
  left: -10%;
}

// Status bar showing the active player
.status {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #27345c;
  color: white;
  font-size: 2em;
}

// Rematch button
.rematch {
  position: absolute;
  left: 50%;
  top: -3em;
  transform: translateX(-50%);
}
