.centered {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 1rem 2em;
  box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  background-clip: padding-box;
  background: white;
  padding: 1.5em 1.5em;
  width: 100%;
  max-width: 400px;

  select,
  input {
    min-width: 0;
  }
}

.formRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 1.5em;
  }
}

.list {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
  list-style-position: outside;

  li {
    display: flex;
    align-items: center;
  }
}

.playerColor {
  position: relative;
  top: -3px;
  margin-right: 5px;
  font-size: 2em;
}

.label {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.4);
  border: 2px solid black;
  padding: 5px;
  height: 2em;
}

.button,
.buttonSecondary {
  display: inline;
  align-self: center;
  cursor: pointer;
  box-shadow: 2px 2px 0px black;
  border: 2px solid #111;
  border-radius: 8px;
  background: var(--main-yellow);
  padding: 4px 12px;
  color: black;
  font-size: 22px;
  text-decoration: none;

  &:hover {
    filter: brightness(1.1);
  }
}

.buttonSecondary {
  box-shadow: 2px 2px 0px var(--main-yellow);
  border-color: var(--main-yellow);
  background: white;
}

.center {
  text-align: center;
}

.helpText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.codeText {
  font-family: "Courier New", Courier, monospace;
  word-break: break-all;
}
