.logo {
  text-align: center;
  font-size: 50px;
  line-height: 1.5;
  color: var(--main-yellow);
  text-shadow: 0.05em 0.05em #755e00;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }

  img {
    background: var(--main-yellow);
    border-radius: 50%;
    flex: 0 0 30px;
    height: 30px;
    padding: 2px;
  }
}

.options {
  display: flex;
  gap: 1rem;

  button {
    flex: 1;
  }
}
